<ion-view view-title="My Comments">
    <ion-content ng-class="{expanded:isExpanded}" class="animate-fade-slide-in activity-content">
    <div class = "activity-container">    
        <div class="item card-item">
            <div ui-sref="app.gallery" class="card stable-bg ink ink-dark">
                <div class="item item-avatar item-text-wrap">
                    <span class="avatar" style="background-image: url('img/jon-snow.jpg');"></span>
                    <strong>Jon Snow</strong> knows nothing.
                    <div class="card-footer text-right">
                        <div class="pull-right">
                            <i class="icon ion-clock"></i> June 10 at 3:01pm
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="item card-item">
            <div ui-sref="app.gallery" class="card stable-bg ink ink-dark">
                <div class="item item-avatar item-text-wrap">
                    <span class="avatar" style="background-image: url('img/tyrion.jpg');"></span>
                    <strong>Tyrion Lannister</strong> says "Perhaps that is the secret. It is not what we do, so much as why we do it."
                    <div class="card-footer text-right">
                        <div class="pull-right">
                            <i class="icon ion-clock"></i> June 3 at 2:35pm
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="item card-item">
            <div ui-sref="app.gallery" class="card stable-bg ink ink-dark">
                <div class="item item-avatar item-text-wrap">
                    <span class="avatar" style="background-image: url('img/sansa.jpg');"></span>
                    <strong>Sansa Stark</strong> added a gallery <strong>Pretending to be Anna from Frozen</strong> 
                    <div class="card-footer text-right">
                        <div class="pull-right">
                            <i class="icon ion-clock"></i> June 5 at 9:51am
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="item card-item">
            <div ui-sref="app.gallery" class="card stable-bg ink ink-dark">
                <div class="item item-avatar item-text-wrap">
                    <span class="avatar" style="background-image: url('img/jon-snow.jpg');"></span>
                    <strong>Jon Snow</strong> knows nothing.
                    <div class="card-footer text-right">
                        <div class="pull-right">
                            <i class="icon ion-clock"></i> June 10 at 3:01pm
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="item card-item">
            <div ui-sref="app.gallery" class="card stable-bg ink ink-dark">
                <div class="item item-avatar item-text-wrap">
                    <span class="avatar" style="background-image: url('img/tyrion.jpg');"></span>
                    <strong>Tyrion Lannister</strong> says "Perhaps that is the secret. It is not what we do, so much as why we do it."
                    <div class="card-footer text-right">
                        <div class="pull-right">
                            <i class="icon ion-clock"></i> June 3 at 2:35pm
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="item card-item">
            <div ui-sref="app.gallery" class="card stable-bg ink ink-dark">
                <div class="item item-avatar item-text-wrap">
                    <span class="avatar" style="background-image: url('img/sansa.jpg');"></span>
                    <strong>Sansa Stark</strong> added a gallery <strong>Pretending to be Anna from Frozen</strong> 
                    <div class="card-footer text-right">
                        <div class="pull-right">
                            <i class="icon ion-clock"></i> June 5 at 9:51am
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>    
    </ion-content>
</ion-view>
