<ion-view view-title="My Comments">
    <ion-content ng-class="{expanded:isExpanded}" class="animate-fade-slide-in activity-content">
    <div class = "activity-container">    
        <div class="item card-item">
            <div ui-sref="app.gallery" class="card stable-bg ink ink-dark">
                <div class="item item-avatar item-text-wrap">
                    <span class="avatar" style="background-image: url('img/kumaratunga-munidasa.jpg');"></span>
                    <strong>Topic: </strong> <strong  class = "positive-900"> Kumaratunga Munidasa </strong>
                    <br><br>
                    <span> 
                        consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation.
                    </span>
                    <div class="card-footer text-right">
                        <div class="pull-right">
                            <i class="icon ion-clock"></i> June 10 at 3:01pm
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="item card-item">
            <div ui-sref="app.gallery" class="card stable-bg ink ink-dark">
                <div class="item item-avatar item-text-wrap">
                    <span class="avatar" style="background-image: url('img/john-de-silva.jpg');"></span>
                    <strong>Topic: </strong> <strong  class = "positive-900"> John De Silva </strong>
                    <br><br>
                    <span> 
                        Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia
                    </span>
                    <div class="card-footer text-right">
                        <div class="pull-right">
                            <i class="icon ion-clock"></i> June 3 at 2:35pm
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="item card-item">
            <div ui-sref="app.gallery" class="card stable-bg ink ink-dark">
                <div class="item item-avatar item-text-wrap">
                    <span class="avatar" style="background-image: url('img/arthur-v-dias.jpg');"></span>
                    <strong>Topic: </strong> <strong  class = "positive-900"> Arthur V Dias </strong>
                    <br><br>
                    <span> 
                        Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip.
                    </span>
                    <div class="card-footer text-right">
                        <div class="pull-right">
                            <i class="icon ion-clock"></i> June 5 at 9:51am
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>    
    </ion-content>
</ion-view>
