<ion-view view-title="Add Information">
    <ion-content ng-class="{expanded:isExpanded}" class="animate-fade-slide-in bckgrnd">
        <div class="content has-header container">
            <div class="list animate-fade-slide-in-right">
            
            <p class = "addInfoText">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed at ante. Mauris eleifend, quam a vulputate dictum, massa quam dapibus leo, eget vulputate orci purus ut lorem.
                <hr>
            </p>    

            <label class="item item-input text-field3">
              <i class="icon ico-size1 ion-ios-location"></i>
              <input class="input-text-color" type="search" placeholder="Building/Street Name">
            </label>
                
            <div id="map2" data-tap-disabled="true"></div>

            <label class="item item-input text-field3">
              <i class="icon ico-size1 ion-ios-person"></i>
              <input class = "input-text-color" type="search" placeholder="VIP's Name">
            </label>
            <label class="item item-input text-field3">
              <i class="icon ico-size1 ico-pos ion-ios-book"></i>
              <textarea class = "input-text-color input-text-area" type="search" placeholder="VIP's information"></textarea>
            </label>
            <label class="item item-input text-field3">
              <i class="icon ico-size1 ico-pos ion-ios-bookmarks"></i>
              <textarea class = "input-text-color input-text-area" type="search" placeholder="Other References"></textarea>
            </label>


            <button class = "send-info-button"> Send </button>
            
            </div>
        </div>
    </ion-content>
</ion-view>
