<ion-view view-title="Add Information">
    <ion-content ng-class="{expanded:isExpanded}" class="animate-fade-slide-in bckgrnd">
        <div class="content has-header">
            <div class="list animate-fade-slide-in-right">
            
            <p class = "addInfoText">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed at ante. Mauris eleifend, quam a vulputate dictum, massa quam dapibus leo, eget vulputate orci purus ut lorem.
                <hr>
            </p>    

            <div class="item card-item">
                <div class="card stable-bg ink ink-dark">
                    <div class="item item-text-wrap">
                      <i class="icon ico-size1 ion-ios-location"></i>    
                      <span class = "textHeaderLabel"><strong>Building/Street Name</strong></span>
                      <label class="item item-input text-field3">
                        <input class="input-text-color" type="text">
                      </label>
                    </div>
                </div>
            </div>

            <div class="item card-item">
                <div class="card stable-bg ink ink-dark">
                    <div class="item item-text-wrap">
                      <i class="icon ico-size1 ion-ios-person"></i>    
                      <span class = "textHeaderLabel"><strong>VIP's Name</strong></span>
                      <label class="item item-input text-field3">
                        <input class="input-text-color" type="text">
                      </label>
                    </div>
                </div>
            </div>

            <div class="item card-item">
                <div class="card stable-bg ink ink-dark">
                    <div class="item item-text-wrap">
                      <i class="icon ico-size1 ion-ios-book"></i>    
                      <span class = "textHeaderLabel"><strong>VIP's information</strong></span>
                      <label class="item item-input text-field3">
                        <input class="input-text-color" type="text">
                      </label>
                    </div>
                </div>
            </div>

            <div class="item card-item">
                <div class="card stable-bg ink ink-dark">
                    <div class="item item-text-wrap">
                      <i class="icon ico-size1 ion-ios-location"></i>    
                      <span class = "textHeaderLabel"><strong>Location</strong></span>
                        
                        <div id="map2" data-tap-disabled="true"></div>

                    </div>
                </div>
            </div>
            

            <div class="item card-item">
                <div class="card stable-bg ink ink-dark">
                    <div class="item item-text-wrap">
                      <i class="icon ico-size1 ion-ios-bookmarks"></i>    
                      <span class = "textHeaderLabel"><strong>Other References</strong></span>
                      <label class="item item-input text-field3">
                        <input class="input-text-color" type="text">
                      </label>
                    </div>
                </div>
            </div>

            <button class = "send-info-button button button-assertive ink"> Send </button>
            
            </div>
        </div>
    </ion-content>
</ion-view>
