<ion-view view-title="Add">
    <ion-content ng-class="{expanded:isExpanded}" class="animate-fade-slide-in">
        <div class="content has-header container">
            <div class="list animate-fade-slide-in-right">
            
            <label class="item item-input text-field3">
              <i class="icon ion-search placeholder-icon"></i>
              <input class = "" type="search" placeholder="Search">
            </label>
                
            <div id="map2" data-tap-disabled="true"></div>

            <label class="item item-input text-field3">
              <i class="icon ion-search placeholder-icon"></i>
              <input class = "" type="search" placeholder="VIP's Name">
            </label>
            <label class="item item-input text-field3">
              <i class="icon ion-search placeholder-icon"></i>
              <textarea class = "" type="search" placeholder="VIP's information"></textarea>
            </label>
            <label class="item item-input text-field3">
              <i class="icon ion-search placeholder-icon"></i>
              <textarea class = "" type="search" placeholder="Other References"></textarea>
            </label>
            
            </div>
        </div>
    </ion-content>
</ion-view>
