<ion-view view-title="Favorites">
    <ion-content ng-class="{expanded:isExpanded}" class="animate-fade-slide-in favorite-content">

    <div class = "favorite-container">   
        <div ng-repeat="place in favorite|limitTo:favLength" class = "place-image card card-gallery fav-image">
            <div class="ink dark-bg header">
                <h2 class = "placeHeader">{{place.person}}</h2>
                <img class="full-image" src={{place.image}}>
            </div>
             <div class="tabs tabs-secondary tabs-icon-left">
                <a class="tab-item stable-bg assertive">
                    <i class="icon ion-heart"></i>
                    <span class = "place-font1" >4</span>
                </a>
                <a class="tab-item stable-bg positive-900">
                    <i class="icon ion-chatbubbles"></i>
                    <span class = "place-font1" >3</span>
                </a>
            </div>
        </div>
    </div>    

    <!--
    <div class = "favContent">    
        <div ng-repeat="place in favorite|limitTo:favLength"  class="list full">
            <div class = "card card-gallery">
                <div class="ink dark-bg header">
                    <h2 class = "placeHeader">{{place.person}}</h2>
                    <img class="full-image" src={{place.image}}>
                </div>
                 <div class="tabs tabs-secondary tabs-icon-left">
                    <a class="tab-item stable-bg assertive">
                        <i class="icon ion-heart"></i>
                        4
                    </a>
                    <a class="tab-item stable-bg positive-900">
                        <i class="icon ion-chatbubbles"></i>
                    </a>
                </div>
            </div>
        </div>   
    </div>    
    -->

   


    </ion-content>
</ion-view>
