<ion-view title="Feed back" id="page5">
  <ion-content padding="true" class="has-header">
    <h1 id="feedBack-heading5" style="color:#000000;">Heading</h1>
    <div id="feedBack-markdown2" style="text-align:justify;" class="show-list-numbers-and-dots">
      <p style="color:#000000;">Lorem ipsum dolor sit amet, conse ctetur adipi scing elit, sed do eiusmod tempor incid idunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nos trud exer cita tion ullamco laboris nisi ut aliq uip ex ea ulla mco lab oris nisi ut
        ali</p>
    </div>
    <div class="spacer" style="height: 40px;"></div>
    <form id="feedBack-form7" class="list">
      <label class="item item-input" id="feedBack-textarea3">
        <span class="input-label"></span><textarea placeholder="feedback"></textarea></label>
    </form>
    <button id="feedBack-button2" class="button button-positive  button-block icon-left ion-android-send">Submint</button>
  </ion-content>
</ion-view>