<ion-view view-title="Login" align-title="left">
    <ion-content style="background: url(img/login.jpg) center; background-size: cover; background-opacity: 0.7;">
        <div class="hero no-header flat">
            <div class="content">
                <div class="app-icon"></div>
            </br></br>
            </div>
        </div>
        <div class="list">
            <ion-md-input placeholder="Username"  type="text"></ion-md-input>
            <ion-md-input placeholder="Password" highlight-color="energized" type="password"></ion-md-input>
        </div>
        <div class="padding">
            <button ui-sref="app.profile" class="button button-full button-assertive ink">Login</button>
        </div>
    </ion-content>
</ion-view>
