<ion-view  view-title="Local Map">
    <ion-content>

    <div class="tabs tabs-dark tabs-icon-bottom">
            <a ui-sref="app.activity" class="tab-item">
                <i class="icon ion-arrow-graph-up-right"></i> Activity
            </a>
            <a ui-sref="app.friends" class="tab-item">
                <i class="icon ion-android-people"></i> Friends
            </a>
            <a ui-sref="app.gallery" class="tab-item">
                <i class="icon ion-images"></i> Photos
            </a>
    </div>
    
    <ion-nav-view name="searchMap" class="view-container" nav-view-transition="ios" nav-view-direction="back" nav-swipe="">
        <!--
        <button id="" class="button button-fab button-fab-top-right button-energized-900 pane map-search-btn" ng-click="showSearch()">
            <i class="icon ion-search"></i>
        </button>
        -->

        <label class="item item-input searchBox">
          <i class="icon ion-search placeholder-icon"></i>
          <input type="search" id="searchTextField" placeholder="Search">
        </label>

    </ion-nav-view>

    

    <div id="map" data-tap-disabled="true"></div>

    </ion-content>
</ion-view>