<ion-view  view-title="Local Map">
    <ion-content>

    <div class="tabs tabs-dark tabs-icon-bottom">
            <a ui-sref="app.activity" class="tab-item">
                <i class="icon ion-arrow-graph-up-right"></i> Activity
            </a>
            <a ui-sref="app.friends" class="tab-item">
                <i class="icon ion-android-people"></i> Friends
            </a>
            <a ui-sref="app.gallery" class="tab-item">
                <i class="icon ion-images"></i> Photos
            </a>
        </div>
        <div id="map" data-tap-disabled="true"></div>
    </ion-content>
</ion-view>