<ion-view view-title="Kumaratunga Munidasa">
    <ion-content ng-class="{expanded:$scope.isExpanded}" class="animate-fade-slide-in">
        <div class="list">
            <div class="hero slide-up place-img" style="background-image: url('img/kumaratunga-munidasa.jpg');">
                <div class="content">
                    <h4>Kumaratunga Munidasa</h4>
                </div>
            </div>
            <div class="tabs tabs-dark tabs-icon-top static">
                <a ui-sref="app.friends" class="tab-item">
                    <i class="icon ion-heart"></i> Add to Favorites
                </a>
                <a ui-sref="app.gallery" class="tab-item">
                    <i class="icon ion-images"></i> Related Photos
                </a>
            </div>
            <div class = "place-header">
                <h4 class="content padding double-padding-x">Kumaratunga Munidasa</h4>
                <hr>
            </div>    
            <div class = "place-description">
                <div class="item card-item">
                    <div ui-sref="app.gallery" class="card stable-bg ink ink-dark">
                        <div class="item item-text-wrap">
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed at ante. Mauris eleifend, quam a vulputate dictum, massa quam dapibus leo, eget vulputate orci purus ut lorem. In fringilla mi in ligula. Pellentesque aliquam quam vel dolor. Nunc adipiscing. Sed quam odio, tempus ac, aliquam molestie, varius ac, tellus. Vestibulum ut nulla aliquam risus rutrum interdum. Pellentesque lorem.
                            </p> 
                            <p>    
                                Curabitur sit amet erat quis risus feugiat viverra. Pellentesque augue justo, sagittis et, lacinia at, venenatis non, arcu. Nunc nec libero. In cursus dictum risus. Etiam tristique nisl a nulla. Ut a orci. Curabitur dolor nunc, egestas at, accumsan at, malesuada nec, magna.
                            </p>
                            <p>
                                Nulla facilisi. Nunc volutpat. <a>Vestibulum ante ipsum</a> primis in faucibus orci luctus et ultrices posuere cubilia Curae; Ut sit amet orci vel mauris blandit vehicula. Nullam quis enim. Integer dignissim viverra velit. Curabitur in odio.
                            </p>
                            <br>
                            <a class = "more-info-link"><h6>More Info >> </h6></a>
                            <div class="card-footer text-right">
                                <i class="icon ion-chatbubble positive"></i> 2
                                <i class="icon ion-heart assertive"></i> 4
                            </div>
                        </div>
                    </div>
                </div>    
            </div>
        </div>    
    </ion-content>
</ion-view>
