<ion-view view-title="Kumaratunga Munidasa">
    <ion-content ng-class="{expanded:$scope.isExpanded}" class="animate-fade-slide-in">
        <div class="place-container">
            <!--
            <div class="hero slide-up place-img" style="background-image: url('img/kumaratunga-munidasa.jpg');">
                <div class="content">
                    <h4>Kumaratunga Munidasa</h4>
                </div>
            </div>
            <div class="tabs tabs-dark tabs-icon-top static">
                <a ui-sref="app.friends" class="tab-item">
                    <i class="icon ion-heart"></i> Add to Favorites
                </a>
                <a ui-sref="app.gallery" class="tab-item">
                    <i class="icon ion-images"></i> Related Photos
                </a>
            </div>
            <div class = "place-header">
                <h4 class="content padding double-padding-x">Kumaratunga Munidasa</h4>
                <hr>
            </div>  
            -->

            <div class = "place-description">

                <div class = "place-image card card-gallery">
                    <div class="ink dark-bg header">
                        <img class="full-image" src="img/kumaratunga-munidasa.jpg">
                    </div>
                     <div class="tabs tabs-secondary tabs-icon-left">
                        <a class="tab-item stable-bg assertive">
                            <i class="icon ion-heart"></i>
                            <span class = "place-font1" >Add to Favorites</span>
                        </a>
                        <a class="tab-item stable-bg positive-900">
                            <i class="icon ion-chatbubbles"></i>
                            <span class = "place-font1" >Comment</span>
                        </a>
                    </div>
                </div>

                <div class="item card-item">
                    <div ui-sref="app.gallery" class="card stable-bg ink ink-dark">
                        <div class="item item-text-wrap">
                            <p>
                                Kumaratunga Munidasa (කුමාරතුංග මුනිදාස) was a pioneer Sri Lankan (Sinhala) linguist, grammarian, commentator, writer, poet, and journalist. He founded the Hela Havula movement which sought to remove Sanskrit influences in the Sinhala language promote its correct usage. He is believed to be one of the most eminent scholars Sri Lanka has known for several centuries. He is known best for his profound knowledge of the Sinhala language and literary work.
                            
                                <br><br>

                                Munidasa was born on 25 July 1887 in Idigasaara, Dickwella in the Matara District. He was the 12 th of 13 children. His mother was Palavinnage Dona Gimara Muthukumarana (or Dona Baba Nona Muthukumarana) and father Abious (or Abiyes) kumaranatunga was a physician practicing indigenous medicine who kept invaluable Pali and Sanskrit manuscripts on Ayurveda, Astrology and Buddhism.
                            </p>
                            <br>
                            <a class = "more-info-link"><h6>More Info >> </h6></a>
                            <div class="card-footer text-right">
                                <i class="icon ion-chatbubble positive"></i> 2
                                <i class="icon ion-heart assertive"></i> 4
                            </div>
                        </div>
                    </div>
                </div>  

                <div class = "place-comment-header">
                    Comments   
                    <i class="icon ion-chatbubbles comment-icon"></i>
                </div>

                <div class="item card-item">
                    <div ui-sref="app.gallery" class="card stable-bg ink ink-dark">
                        <div class="item item-avatar item-text-wrap">
                            <span class="avatar" style="background-image: url('img/tyrion.jpg');"></span>
                            <strong> John Smith </strong>
                            <br><br>
                            <span> 
                                consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation.
                            </span>
                            <div class="card-footer text-right">
                                <div class="pull-right">
                                    <i class="icon ion-clock"></i> June 3 at 2:43pm
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item card-item">
                    <div ui-sref="app.gallery" class="card stable-bg ink ink-dark">
                        <div class="item item-avatar item-text-wrap">
                            <span class="avatar" style="background-image: url('img/sansa.jpg');"></span>
                            <strong>John Doe</strong>
                            <br><br>
                            <span> 
                                Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia
                            </span>
                            <div class="card-footer text-right">
                                <div class="pull-right">
                                    <i class="icon ion-clock"></i> June 5 at 9:51am
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>    
    </ion-content>
</ion-view>
