<ion-view view-title="Places">
    <ion-content ng-class="{expanded:isExpanded}" class="animate-fade-slide-in">
        <div class = "places-container">
        <div class="list half">
            <div ui-sref="app.place" class="card card-gallery item item-text-wrap">
                <div class="ink dark-bg">
                    <h2>Kumaratunga Munidasa mawatha</h2>
                    <img class="full-image" src="img/kumaratunga-munidasa.jpg">
                </div>
                <div class="item tabs tabs-secondary tabs-icon-left">
                    <a class="tab-item stable-bg assertive">
                        <i class="icon ion-heart"></i>
                        4
                    </a>
                    <a class="tab-item stable-bg positive-900">
                        <i class="icon ion-chatbubbles"></i>
                        2
                    </a>
                </div>
            </div>
            <div ui-sref="app.place" class="card card-gallery item item-text-wrap">
                <div class="ink dark-bg">
                    <h2>John De Silva memorial theatre</h2>
                    <img class="full-image" src="img/john-de-silva.jpg">
                </div>
                <div class="item tabs tabs-secondary tabs-icon-left">
                    <a class="tab-item stable-bg assertive">
                        <i class="icon ion-heart"></i>
                        6
                    </a>
                    <a class="tab-item stable-bg positive-900">
                        <i class="icon ion-chatbubbles"></i>
                        1
                    </a>
                </div>
            </div>
        </div>
        <div class="list half">
            <div ui-sref="app.place" class="card card-gallery item item-text-wrap">
                <div class="ink dark-bg">
                    <h2>Arthur V. Dias mawatha</h2>
                    <img class="full-image" src="img/arthur-v-dias.jpg">
                </div>
                <div class="item tabs tabs-secondary tabs-icon-left">
                    <a class="tab-item stable-bg assertive">
                        <i class="icon ion-heart"></i>
                        22
                    </a>
                    <a class="tab-item stable-bg positive-900">
                        <i class="icon ion-chatbubbles"></i>
                        9
                    </a>
                </div>
            </div>
        </div>
        </div>
    </ion-content>
</ion-view>
