<ion-view view-title="Profile">
    <ion-content ng-class="{expanded:$scope.isExpanded}">
        <div class="hero slide-up" style="background-image: url('img/login.jpg');">
            <div class="content">
                <div class="avatar" style="background-image: url('img/daenerys.jpg');"></div>
                <h3><a class="light">John Doe</a></h3>
                <h4>dragon_mommy</h4>
            </div>
        </div>
        <div class="tabs tabs-dark tabs-icon-top static">
            <a ui-sref="app.addInfo" class="tab-item">
                <i class="icon icon-size2 ion-android-add-circle"></i> Add Info
            </a>
            <a ui-sref="app.activity" class="tab-item">
                <i class="icon ion-android-navigate"></i> Activity
            </a>
            <a ui-sref="app.favorites" class="tab-item">
                <i class="icon ion-images"></i> Favorites
            </a>
        </div>

         <div class="">
            <div class="list animate-fade-slide-in-right">

                <h4 class="content padding double-padding-x">Profile Information<hr></h4>

                  <p>  name: {{user.name}}</p> 

                <div class="item card-item">
                    <div class="card stable-bg ink ink-dark">
                        <div class="item item-text-wrap">
                          <i class="icon ico-size1 ion-ios-person"></i>    
                          <span class = "textHeaderLabel"><strong>Name</strong></span>
                          <label class="item item-input text-field3">
                            <input class="input-text-color" type="text" placeholder="john doe">
                          </label>
                        </div>
                    </div>
                </div>
                <div class="item card-item">
                    <div class="card stable-bg ink ink-dark">
                        <div class="item item-text-wrap">
                          <i class="icon ico-size1 ion-ios-home"></i>    
                          <span class = "textHeaderLabel"><strong>Hometown</strong></span>
                          <label class="item item-input text-field3">
                            <input class="input-text-color" type="text" placeholder="Lorem ipsum dolor">
                          </label>
                        </div>
                    </div>
                </div>
                <div class="item card-item">
                    <div class="card stable-bg ink ink-dark">
                        <div class="item item-text-wrap">
                          <i class="icon ico-size1 ion-ios-location"></i>    
                          <span class = "textHeaderLabel"><strong>Current City</strong></span>
                          <label class="item item-input text-field3">
                            <input class="input-text-color" type="text" placeholder="consectetur adipiscing">
                          </label>
                        </div>
                    </div>
                </div>
                <div class="item card-item">
                    <div class="card stable-bg ink ink-dark">
                        <div class="item item-text-wrap">
                          <i class="icon ico-size1 ion-ios-email"></i>    
                          <span class = "textHeaderLabel"><strong>Email</strong></span>
                          <label class="item item-input text-field3">
                            <input class="input-text-color" type="text" placeholder="johndoe@gmail.com">
                          </label>
                        </div>
                    </div>
                </div>
                <div class="item card-item">
                    <div class="card stable-bg ink ink-dark">
                        <div class="item item-text-wrap">
                          <i class="icon ico-size1 ion-ios-unlocked"></i>    
                          <span class = "textHeaderLabel"><strong>Password</strong></span>
                          <label class="item item-input text-field3">
                            <input class="input-text-color" type="text" placeholder="******">
                          </label>
                        </div>
                    </div>
                </div>
                 <button class = "send-info-button button button-assertive ink"> Save </button>
             </div>
         </div>

    </ion-content>
</ion-view>
