<ion-view view-title="Profile">
    <ion-content ng-class="{expanded:$scope.isExpanded}">
        <div class="hero slide-up" style="background-image: url('img/login.jpg');">
            <div class="content">
                <div class="avatar" style="background-image: url('img/daenerys.jpg');"></div>
                <h3><a class="light">John Doe</a></h3>
                <h4>dragon_mommy</h4>
            </div>
        </div>
        <div class="tabs tabs-dark tabs-icon-top static">
            <a ui-sref="app.activity" class="tab-item">
                <i class="icon icon-size2 ion-edit"></i> Edit
            </a>
            <a ui-sref="app.friends" class="tab-item">
                <i class="icon ion-android-people"></i> Friends
            </a>
            <a ui-sref="app.favorites" class="tab-item">
                <i class="icon ion-images"></i> Favorites
            </a>
        </div>
        <h4 class="content padding double-padding-x">Profile Information<hr></h4>
        
        <div class="list list-width animate-fade-slide-in-right">
            <a class="item item-avatar item-icon-right profile-detail">
                <i class="profile-icon ion-ios-person-outline"></i>
                <h2>Name</h2>
                <p>john doe</p>
                <i class="icon ion-edit profile-icon2 muted"></i>
            </a>
            <a class="item item-avatar item-icon-right profile-detail">
                <i class="profile-icon ion-ios-home-outline"></i>
                <h2>Hometown</h2>
                <p>Lorem ipsum dolor</p>
                <i class="icon ion-edit profile-icon2 muted"></i>
            </a>
            <a class="item item-avatar item-icon-right profile-detail">
                <i class="profile-icon ion-ios-location-outline"></i>
                <h2>Current City</h2>
                <p>consectetur adipiscing</p>
                <i class="icon ion-edit profile-icon2 muted"></i>
            </a>
            <a class="item item-avatar item-icon-right profile-detail">
                <i class="profile-icon ion-ios-person-outline"></i>
                <h2>Username</h2>
                <p>john doe</p>
                <i class="icon ion-edit profile-icon2 muted"></i>
            </a>
            <a class="item item-avatar item-icon-right profile-detail">
                <i class="profile-icon ion-ios-email-outline"></i>
                <h2>Email</h2>
                <p> johndoe@gmail.com </p>
                <i class="icon ion-edit profile-icon2 muted"></i>
            </a>
            <a class="item item-avatar item-icon-right profile-detail">
                <i class="profile-icon ion-ios-unlocked-outline"></i>
                <h2>Password</h2>
                <p>******</p>
                <i class="icon ion-edit profile-icon2 muted"></i>
            </a>
        </div>
    </ion-content>
</ion-view>
