<ion-view view-title="Profile">
    <ion-content ng-class="{expanded:$scope.isExpanded}">
        <div class="hero slide-up" style="background-image: url('img/login.jpg');">
            <div class="content">
                <div class="avatar" style="background-image: url({{user.profilepic}});"></div>
                <h3><a class="light" style="font-weight: bold">{{user.name}}</a></h3>
                <h4 style="color:#000">{{user.username}}</h4>
            </div>
        </div>
         <div class="bottom-margin">
            <div class="list animate-fade-slide-in-right">

            <h4 class="content padding double-padding-x">Profile Information<hr></h4>

            <div class="list animate-fade-slide-in-right">
              <a class="item item-avatar item-icon-right">
                  <i class="item item-icon-left icon ion-person"></i>
                  <h2>Name</h2>
                  <p>{{user.name}}</p> 
                  <i class="icon ion-edit muted"></i>
              </a>
              <a class="item item-avatar item-icon-right">
                  <i class="item item-icon-left icon ion-email"></i>
                  <h2>Email</h2>
                  <p>{{user.email}}</p> 
                  <i class="icon ion-edit muted"></i>
              </a>
              <a class="item item-avatar item-icon-right">
                  <i class="item item-icon-left icon ion-home"></i>
                  <h2>Hometown</h2>
                  <p>{{user.hometown}}</p> 
                  <i class="icon ion-edit muted"></i>
              </a>
              <a class="item item-avatar item-icon-right">
                  <i class="item item-icon-left icon ion-location"></i>
                  <h2>Current city</h2>
                  <p>{{userPosition}}</p> 
                  <i class="icon ion-edit muted"></i>
              </a>
              <a class="item item-avatar item-icon-right">
                  <i class="item item-icon-left icon ion-unlocked"></i>
                  <h2>Password</h2>
                  <p>{{user.password}}</p> 
                  <i class="icon ion-edit muted"></i>
              </a>
            </div>
        </div>
        <!--
         <div class="tabs tabs-dark tabs-icon-top tab-pos">
            <a ui-sref="app.addInfo" class="tab-item">
                <i class="icon icon-size2 ion-android-add-circle"></i> Add Info
            </a>
            <a ui-sref="app.activity" class="tab-item">
                <i class="icon ion-android-navigate"></i> Activity
            </a>
            <a ui-sref="app.favorites" class="tab-item">
                <i class="icon ion-images"></i> Favorites
            </a>
        </div>
        -->

        <!--
        <ion-tabs class="tabs-icon-top tabs-positive tab-bg-color tab-pos">

          <ion-tab title="Home" icon="ion-home" class = "tab-bg-color">
            <ion-nav-view name="home-tab"></ion-nav-view>
          </ion-tab>

          <ion-tab title="About" icon="ion-ios-information" class = "tab-bg-color">
            <ion-nav-view name="about-tab"></ion-nav-view>
          </ion-tab>

          <ion-tab title="Contact" icon="ion-ios-world" class = "tab-bg-color">
            <ion-nav-view name="contact-tab"></ion-nav-view>
          </ion-tab>

        </ion-tabs>
        -->

    </ion-content>

</ion-view>
