<ion-view title="Search" id="page3">
  <ion-content padding="true" class="has-header">
    <ion-slides disable-side-menu-drag="" options="{'loop': true}" slider="slider1" delegate-handle="slider1" id="search-slider1" style="width:100%;height:200px;">
      <ion-slide-page id="search-slide24" style="background:url(&quot;img/LUfV5R2gSOqLWs2CsKuC_map_location.jpg&quot;) no-repeat center;background-size:cover;"></ion-slide-page>
      <ion-slide-page id="search-slide25" style="background:url(&quot;img/1fjxfOxrRpW4HGzXDf8J_colombo-tour-packages.gif&quot;) no-repeat center;background-size:cover;"></ion-slide-page>
      <ion-slide-page id="search-slide26" style="background:url(&quot;img/WE6rB9dZRTiIWQlP5qsA_kitten3.jpg&quot;) no-repeat center;background-size:cover;"></ion-slide-page>
      <ion-slide-page id="search-slide27">
        <h1 id="search-heading3" style="color:#000000;">Slide 4</h1>
      </ion-slide-page>
    </ion-slides>
    <div id="search-container1">
      <form id="search-form11" class="list">
        <div class="spacer" style="height: 20px;"></div>
        <label class="item item-input" id="search-search1">
          <i class="icon ion-search placeholder-icon"></i>
          <input type="search" placeholder="Search">
        </label>
      </form>
      <div id="search-markdown5" style="text-align:center;" class="show-list-numbers-and-dots">
        <p style="color:#000000;">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt</p>
      </div>

      <ion-google-place placeholder="Your address" ng-model="data.address" required name="address" location-changed="locationChanged"/>

    </div>
  </ion-content>
</ion-view>