<ion-tabs class="tabs-icon-top tabs-positive tab-bg-color">

          <ion-tab title="Home" icon="ion-home" class = "tab-bg-color">
            <ion-nav-view name="home-tab"></ion-nav-view>
          </ion-tab>

          <ion-tab title="About" icon="ion-ios-information" class = "tab-bg-color">
            <ion-nav-view name="about-tab"></ion-nav-view>
          </ion-tab>

          <ion-tab title="Contact" icon="ion-ios-world" class = "tab-bg-color">
            <ion-nav-view name="contact-tab"></ion-nav-view>
          </ion-tab>

        </ion-tabs>