<ion-view title="Add Info" id="page7">
  <ion-content padding="true" class="has-header">
    <form id="addInfo-form12" class="list">
      <ion-toggle toggle-class="toggle-positive" id="addInfo-toggle5">Select from Map</ion-toggle>
      <div>
        <img src="img/o1uvAXbTRhGtWRXnhZWQ_img2.png" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
      </div>
      <div class="spacer" style="height: 20px;"></div>
      <ion-checkbox id="addInfo-checkbox4">Checkbox</ion-checkbox>
      <div class="spacer" style="height: 20px;"></div>
      <label class="item item-input" id="addInfo-input4">
        <input type="text" placeholder="Location (Address)">
      </label>
      <div class="spacer" style="height: 20px;"></div>
      <div>
        <style>
          textarea{
              width:100%;
              border:1px solid #ccc;
              padding:5px;
          }
        </style>

        <textarea placeholder="Information" rows="8"> </textarea></div>
      <div class="spacer" style="height: 20px;"></div>
      <div>
        <style>
          textarea{
              width:100%;
              border:1px solid #ccc;
              padding:5px;
          }
        </style>

        <textarea placeholder="Additional Info" rows="8"> </textarea></div>
      <div class="spacer" style="height: 20px;"></div>
      <button id="addInfo-button9" class="button button-positive  button-block icon-left ion-android-send">Send</button>
    </form>
  </ion-content>
</ion-view>