<ion-view title="Settings" id="page6">
  <ion-content padding="true" class="has-header">
    <form id="settings-form8" class="list">
      <ion-item class="range range-positive" id="settings-range2">Range
        <input type="range" value="50" min="0" max="100" step="1">
      </ion-item>
      <ion-checkbox id="settings-checkbox1">Checkbox</ion-checkbox>
      <ion-checkbox id="settings-checkbox2">Checkbox</ion-checkbox>
      <ion-checkbox id="settings-checkbox3">Checkbox</ion-checkbox>
      <ion-toggle toggle-class="toggle-positive" id="settings-toggle1">Toggle</ion-toggle>
      <ion-toggle toggle-class="toggle-positive" id="settings-toggle2">Toggle</ion-toggle>
      <label class="item item-select" id="settings-select1">
        <span class="input-label">Select</span>
        <select>
          <option>option 1</option>
          <option>option 2</option>
          <option>option 3</option>
        </select>
      </label>
    </form>
  </ion-content>
</ion-view>